 body {
    box-sizing: border-box; 
    margin: 0;
    background-color: rgb(34, 34, 40);
}

.card {
    background-color: rgb(50, 50, 60); 
    color: #fff;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3)}


.navbar {
    background-color: rgb(250, 250, 245);
}

.card:hover {
    transform: translateY(-5px)}


.wrapper {
gap: 10px;
display: flex;
flex-wrap: wrap;
justify-content: center; 
align-items: center;
}