{% extends 'base.html' %}

{% block content %}
<header>
    <h1 class="text-center mb-5">Available Rooms</h1>
</header>

<div class="wrapper">
    

    {% for room in rooms %}
    <div class="card" style="width: 18rem; margin-bottom: 20px;">
        <img src="{{ room.image.url }}" class="card-img-top" alt="Room image">
        <div class="card-body">
            <h5 class="card-title">{{ room.title }}</h5>
            <p class="card-text">{{ room.description }}</p>

            <p class="card-text">${{ room.price }}</p>
            <a href="{% url 'room_info' room.id %}" class="btn btn-primary">Book a room</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}